#__mycaptcha_main_div__{
  width: 600px;
  background-color: #fcc;
  margin: 20px;
  padding: 20px;
}
.__hide_first__{
  display: none;
}
.__mycaptcha_question__{
  color: #008;
  font-weight: bold;
  background-color: #ccf;
}
.__mycaptcha_answer__{
  color: #080;
  font-weight: bold;
  background-color: #cfc;
}
#slidegame_img{
  max-width: 100%;
  height: auto;
}
